.gitBranchSelectorPopover {
  width: 350px !important;
  max-height: 400px;
  overflow: auto;

  :global {
    .bp3-menu {
      padding: 0;
      li {
        height: 32px;
        cursor: pointer;
        padding: var(--spacing-xsmall) var(--spacing-small);

        &:hover {
          background-color: var(--primary-2) !important;
          color: var(--grey-900) !important;
        }
      }
    }

    .Select--active {
      background-color: var(--primary-2) !important;
      color: var(--grey-900) !important;
    }
  }
}
