/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.secondStep {
  height: 100%;
  > div:last-child {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .clusterWrapper {
    padding: var(--spacing-xsmall) !important;
    overflow: auto;

    .authHeaderRow {
      display: flex;
      justify-content: space-between;
      & > [data-tooltip-id='azureConnectorAuth'] {
        margin: 0 0 15px;
      }
    }

    :global {
      .bp3-form-helper-text {
        font-size: var(--font-size-normal);
        color: var(--red-600);
        margin-left: var(--spacing-xsmall);
        word-break: break-word;
      }
    }
  }
}
