.configureConditionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 430px;
}

.notificationRulesContainer {
  height: 400px;
  overflow-y: auto;
}
